

.slider__wrap{

    margin-top: 96px;
    @media screen and (min-width: 768px) {
        display: none;
     }
    .slider__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        color: #1D1D1F;
        text-align: center;
    }
    .mySwiper{
        margin: 24px 0 24px 0;

        width: 100%;
    }
}